<h1><%= @recipe.name %></h1>
<h3>By <%= @recipe.contributor %></h3>
<h5>Added <%= @recipe.friendly_created_at %></h5>

<h2>Ingredients:</h2>
<ul>
  <% @recipe.ingredients_list.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>

<h2>Directions:</h2>
<ol>
  <% @recipe.directions_list.each do |direction| %>
    <li><%= direction %></li>
  <% end %>
</ol>