<h1><%= @recipe.name %></h1>
<h3>Submitted By:<%= @recipe.user.email %></h3>
<h4>Submitted At: <%= @recipe.friendly_created_at %></h4>

<h2>Ingredients</h2>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>



<h2>Directions</h2>

<ol>
  <% @recipe.directions_list.each do |direction| %>
    <li><%= direction %></li>
  <% end %>
</ol>